<!DOCTYPE html>
<html>
  <head>
    <title>Homer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <nav class="navbar navbar-default" style="padding-bottom: 20px">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header" style="width: 20%">
            <a class="navbar-brand" rel="home" href="/" title="Buy Sell Rent Everyting">
              <%= image_tag "logo.jpg", :style => "max-height:35px; margin-top: -8px; margin-left:10px;" %>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="h1 nav nav-center" style="text-align: center; width: 60%; display: inline-block">
                Hub Epitech Montpellier
            </div> 
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container">
        <h1 class="text-center"><%= @projects.first.name %></h1>

        <% @projects.each_with_index do |p, index| %>
            <div class="text-center" style="font-size:large;margin-top:5%;">
                <%= link_to visitor_path(p) do %>
                    <span style='text-decoration: underline;'>Version <%= @projects.size - index %>:</span> Du <%= p.created_at.to_formatted_s(:db) %> au <%= p.objectives.last.date.to_formatted_s(:db) %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= Project.statuses[p.status].to_f * 100 / 9 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span style="color: <%= (Project.statuses[p.status] < 5 ? "black" : "#F1F1F1") %>;"><%= p.get_status %></span>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>

      </div>
      <div class="text-center">
        <%= link_to "/visitor" do %>Retour à l'ensemble des projets<% end %>
      </div>
    </div>
  </body>
</html>
