<div class="container">
  <%= form_for(@project, :html => { :class=> "form-horizontal" }) do |f| %>

    <div class="form-group">
      <%= f.text_field :name, :class => "form-control", :placeholder => "Nom du projet" %>
    </div>

    <div class="form-group">
        <%= f.number_field :spices, :class => "form-control", :placeholder => "épices demandés" %>
    </div>

    <div class="form-group">
        <h2 class="text-center">Description et porteur(s) du projet:</h2>
        <%= f.cktext_area :description, class: 'someclass', ckeditor: { language: 'fr'} %>
    </div>

    <% @project.objectives.each_with_index do |objective, index| %>
      <%= f.fields_for :objectives, objective do |fq| %>
        <%= render 'objective_fields', :f => fq, :objective => objective, :index => index %>
      <% end %>
    <% end %>

    <div class="form-group">
      <div class="span7 text-center">
        <button type="submit" class="btn btn-default">Valider</button>
      </div>
    </div>
  <% end %>

</div>

<script>
  // Editor to lisent
  let editorInstance = CKEDITOR.instances["project_description"];
  // Variables associates
  let picturesPush = {}; // Email of picture ever push in editor
  let nbElementInEditor = editorInstance.getData().length; // Last size on editor before 'change' event

  /*
  ** Put photo get on epitech intranet in ckeditor.
  */
  function putPicture(editor, name){
    const image_tag='<img src="https://cdn.local.epitech.eu/userprofil/commentview/' + name + '.jpg" alt="' + name + '">';

    editor.insertHtml(image_tag);
  }

  /*
  ** Check if there are epitech email in editor and load map, can insert image in editor
  ** editor -> CKEDITOR to analyse
  ** insertImage -> if equal true insert image in editor
  */
  function emailInCkeditor(editor, insertImage){
    const str = editor.getData();

    if (nbElementInEditor <= str.length){ // Search all email
      const regex = /[a-z]+\.[a-z]+@epitech.eu\b/g;
      const match = str.match(regex);

      if (null !== match){
        for (let i = 0; i < match.length; ++i){
          if (undefined === picturesPush[match[i]]){
            picturesPush[match[i]] = 1;
            if (true === insertImage){
              putPicture(editor, match[i].replace("@epitech.eu", ""));
            }
          }
        }
      }
    }else{
      // Re load map.
      nbElementInEditor = str.length;
      picturesPush = {};
      emailInCkeditor(editor, false);
    }
    nbElementInEditor = str.length;
  }

  editorInstance.on('change', function() { // add event
      emailInCkeditor(editorInstance, true);
  });

  emailInCkeditor(editorInstance, false); // Load map
</script>