<div class="container">
  <%= form_for(@project, :html => { :class=> "form-horizontal" }) do |f| %>

    <div class="form-group">
      <%= f.text_field :name, :class => "form-control", :placeholder => "Nom du projet" %>
    </div>

    <div class="form-group">
        <%= f.number_field :spices, :class => "form-control", :placeholder => "épices demandés" %>
    </div>

    <div class="form-group">
        <%= f.cktext_area :description, class: 'someclass', ckeditor: { language: 'fr'} %>
    </div>

    <% @project.objectives.each_with_index do |objective, index| %>
      <%= f.fields_for :objectives, objective do |fq| %>
        <%= render 'objective_fields', :f => fq, :objective => objective, :index => index %>
      <% end %>
    <% end %>

    <div class="form-group">
      <div class="span7 text-center">
        <button type="submit" class="btn btn-default">Valider</button>
      </div>
    </div>
  <% end %>

</div>