<div class="nested-fields">
    <h2><%= objective.objective_type %></h2>

    <div class="form-group field">
      <%= f.label "Date de rendu", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_field :date, :class => "form-control datepicker", :required => true %>
      </div>
    </div>

    <div class="form-group field">
      <%= f.label "Objectifs a realiser", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.cktext_area :description, :class => "form-control", :required => true %>
      </div>
    </div>

    <div class="hidden">
      <%= f.number_field :objective_type %>
    </div>
</div>

<script type="text/javascript">
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd'
  });
</script>