<div class="container">
  <h1 class="text-center"><%= @project.name %></h1>

  <% if false == @project.git_hub.to_s.empty? %>  
    <h3>Lien GitHub : <%= @project.git_hub %></h3>
  <% end %>
  
  <%= @project.description.html_safe %>

  <% @project.objectives.each do |obj| %>
    <h2><%= obj.objective_type %> <%= obj.date %></h2>
    <%= obj.description.html_safe %>
  <% end %>
</div>
